/* 

.btn {
    white-space: normal;
    }
    
    a {
        color: #333;
    }
    a:hover {
        opacity: 0.8;
        text-decoration: none;
    }
    .tel a {
        text-decoration: underline;        
    }
    

    .mod-navbar {
        position: relative;
        padding: 1rem 0;
    }
    

    .cate-label {
        top:0.5em;
        left: 1em;
        background: rgba(255, 255, 255, 0.8);
    }
    

    .sns-nav img{
        width: 36px;
    }

    .totop {
        border: 2px solid #02A7C3;
        top: 1rem;
        right: 0;
    } */

html {
  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */
  font-size: 16px;
}

body {
    font-family: sans-serif;
    }

/* header css */

.header{
  padding: 16px 50px;
  margin-top:20px;
  background-color: #e4e4e4;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom:30px;
}

.home{
    background-color: #b0c4de;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 0.5rem;
}
.homeandsearch{
    /* display:flex; */
}

.search_frame{
    display:flex;
    margin:auto;
    padding: 6px 0px 0px 35px;
    left:420px;
    position:absolute;
}
.search{
    width:100%;
    height:100%;
    text-align: center;
}

.search_detail_frame{
    width: 45%;
    padding: 18px 0 0 8px;
}

.search_detail,
a.search_detail{
    background-color:#c0c0c0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    padding: 5px 10px;
    width: 45%;
    color: #212529;
    border-radius: 0.2rem;
    border-color:#808080;
    border-style: solid;
    transition: all 0.3s;
}

.search_detail:hover,
a.search_detail:hover {
    color: #212529;
    background-color: #778899;

}

#sbox2{
    height:30px;
    padding:0 10px; 
    position:relative; 
    left:0;
    top:15px; 
    border-radius:10px;
    outline:none;
    background:#eee;	
    width:30vw;
}

#sbtn2{
    height:50px;
    position: absolute;
    left: 430px;
    top: 10px;
    background:none;
    color:#666;
    border:none;
    font-size:20px;/*アイコンサイズ*/
    outline:none;
}
#sbtn2:hover{
    color:#7fbfff;
}

#login{
    padding: 10px 0 0;
    /* margin-left:auto; */
}

.btn-login,
a.btn-login {
    background-color: #b0c4de;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    right:90px;
    top:40px;
    display: inline-block;
    padding: 0.5rem 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 0.5rem;
    border-color: #808080;
    border-style: solid;
    border-width:2px;
}

.btn-login:hover,
a.btn-login:hover {
    color: #212529;
    background-color: #778899;

}

/* header css ここまで */

.main{
    width:100%;
}

main{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top:50px;
    background-color: #fefefe
}

.popular_products_box,
.popular_shop_box,
.likes{

    margin-bottom:30px;
}

.title{
    display:flex;
}

.list_more{
   margin-left:auto;
}

.popular_products,
.popular_shops{
    padding:10px;
    width:200px;
    border:solid 1px;
    margin-top: 10px;
}

.popular_shop_photo,
.popular_product_photo{
    width:100%;
    height:150px;
    border:solid 1px;
    border-radius: 0.5rem;
}

.popular_products_detail{
    width:100%;
    height:50px;
    /* border:solid 1px; */
}

.popular_shops_detail{
    width:100%;
}
.popular_products_price{
    /* border:solid 1px; */
    font-weight:bold;
    padding:2px 5px;

}

.popular_shops_title,
.popular_products_title{
    /* border:solid 1px; */
    padding:2px 5px;
}
/* footer css */
.footer{
    background-color: #e4e4e4;
    height:50px;
    text-align:center;
    margin-top:40px;
}

.footer_content{
    display:flex;
    width:600px;
    margin:0 auto;
    padding:10px;
 
}

.footer_link1{
    margin:0 auto;
    display:inline;
    text-decoration: none;
    list-style-type:none;
    padding-left:25px;
    border-left:none;
}

.footer_link{
    margin:0 auto;
    display:inline;
    text-decoration: none;
    border-left:1px solid #999;
    list-style-type:none;
    padding-left:25px;
}

.footer_text{
    color:black;
    font-size:13px;
    padding:2px;
}

.footer_text:hover{
    font-size:13px;
    color:black;
    background-color:white;
    text-decoration:none;
    border-radius: 0.5rem;
    padding:2px;
    transition: all 0.3s;
}

/* footer css ここまで */

.login_command{
    display:flex;
    margin:auto;
    width:350px;
    margin-top:20px;
}

.create_account{
    margin:auto;
    width:50%;
    font-size:small;
}

.forgot_password{
    margin:auto;
    width:50%;
    font-size:small;
}

#sidebar{
    background:grey;
    position:absolute;
    width: 20%;
    right: 20px;
    top: 90px;
    opacity:0;

}
#sidebar ul li{
    list-style:none;
    padding-top:20px;
}

/* #navArea{
    display:none;
} */

.navArea{
    width:230px;
    display:block;
    height:100%;
    position:absolute;
    background-color: #FFFFFF;
    top:112px;
    right:0;
    bottom:0;
    transition:all 0.3s;
    z-index: -10;
    opacity:0;
}

nav.inner{
    padding:25px;
}

nav .inner ul{
    list-style: none;
    margin:0;
    padding:0;
}

nav .inner ul li{
    margin:0;
    border-bottom: 1px solid #333;
}
.navp{
    text-align: center;
    padding:10px;
    margin:0;
    font-weight:bold;

}

nav .inner ul li a{
    display:block;
    text-decoration: none;
    color:#333;
    font-size:14px;
    padding:1rem;
    transition-duration: 0.2s;
}

nav .inner ul li a:hover{
    background-color:#e4e4e4;
}

#toggle-btn span{
    position: absolute;
    display: block;
    right: 90px;
    top: 40px;
    width: 137.45px;
    height: 44px;
    background-color: #808080;
    transition: all 0.5s;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-color:#b0c4de;
}

#toggle-btn span a{
    text-align: center;
    margin: -2px;
}



#mask{
    display:none;
    transition:all 0.5s;
    z-index:1;
}

.open nav{
    right:10px;
    opacity:1;
    z-index:100;
}



.open #mask{
    display:block;
    background-color:#000;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    position:fixed;
    opacity:0.8;
    cursor: pointer;
}

.register_product{
    display:flex;
}

.detail{
    font-size:10px;
}

.page_title{
    text-align:center;
    font-size:25px;
    padding:10px 0;
    background-color:azure;
}

.title_frame{
    padding-bottom:30px;
}

.alink{
    width:100%;
}
.frame{
    border: 1px solid rgba(0,0,0,.125);
    border-radius:0.25rem;
}

.parent div{
    border:1px solid;
}

.div1,.div3,.div5{
    width:60px;
}
.div2,.div4,.div6{
    width:100px;
}

.div7,.div8{
    width:50px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* border:1px solid; */
    padding:20px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 3 / 5; }
    .div3 { grid-area: 3 / 1 / 5 / 3; }
    .div4 { grid-area: 3 / 3 / 5 / 5; }
    .div5 { grid-area: 5 / 1 / 7 / 3; }
    .div6 { grid-area: 5 / 3 / 7 / 5; }
    .div7 { grid-area: 1 / 5 / 4 / 7; }
    .div8 { grid-area: 4 / 5 / 7 / 7; }

    .card-body{
        white-space: nowrap;
    }

    .card-body p{
        font-size:14px;
    }

    .row{
        padding-bottom:30px;
    }

    
    .card_img_top{
        padding:2px;
    }

    .sub_img{
        display:flex;
        justify-content: center;
        margin:auto;
    }

    .sub_img li img{
        width:100%;
        height:100%;
        padding:10px
    }
 
    .col-lg-8 img{
        display:block;
        margin:auto;
    }

    li{
        list-style: none;
    }

    ul{
        padding-inline-start: 0px;
    }

    .card-body{
        font-size:24px;
        font-weight:100;
    }

    .card-body select{
        font-size:18px;
    }

    .col-lg-4{
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

   

    .shop_detail{
        display: inline-flex;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        margin-top:30px;
    }

    .shop_detail img{
        width:50%;
        height:50%;
        padding:2px;
    }

    .shop_detail p{
        text-align:end;
        white-space: nowrap;
    }

    .purchase button{
        font-size:20px;
    }

    .purchase{
        text-align: center;
        border-top: 1px solid rgba(0,0,0,.125);
        padding-top:10px;
    }
    
    .product_description{
      
        padding-top:20px;
    }

    .description{
        margin:auto;
        width:90%;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    .btn-secondary{
        position: absolute;
        right: 10px;
        top: 8px;
    }

    /* 登録情報編集フォーム */
    #payment,
    .card-body label{
        font-size:12px;
    }

    .card{
    white-space: nowrap;
    margin-top:20px;
    }

    .card p{
        text-overflow: ellipsis;
        overflow:hidden;
    }

    /* カート画面 */

    .cart_frame{
        width: 85%;
        border-bottom: 1px solid rgba(0,0,0,.125);
        display:flex;
        margin-bottom: 10px;
        padding-bottom:10px;
    }
    .ABCD{
        top: 230px;
        right: 150px;
        position:fixed;
        border: 1px solid rgba(0,0,0,.125);
        padding:20px;
        background-color: rgba(115, 147, 157,0.5);
        border-radius: 1.25rem;
    }

    .ABCD p{
        font-size:20px;
        font-weight: 600;
    }

    .ABCD .btn-secondary{
        position:static;
    }
    
    .EFG{
        text-align: right;
        width:85%;
        margin-top:10px;
    }

    .EFG .btn-secondary{
        position:static;
    }

    .cart_total_price{
        padding:10px 30px 0 0;
    }

    .col-lg-3 p{
        white-space: nowrap;
    }

    .col-lg-3 .btn-outline-secondary{
        position:static;
    }

    /* いいねボタン */
    .liked {
        color: red;
      }

    .likes{
        background-color: rgb(204,204,204,0.5);
        padding:5px;
        border-radius: 0.5rem;
    }
    .likes p{
        display:inline-block;
        font-size:13px;
    }

    /* 商品削除 */
    .product_delete{
        position:absolute;
        top: 145px;
        right: 280px;
    }

    .image_delete{
        position:absolute;
        top: 145px;
        left: 630px;
    }